@import "tailwindcss";
@plugin "daisyui";

.button {
  font-size: 20px;
  font-weight: 900;
}

.button:hover {
  cursor: pointer;

}

.yash button {

  border: 2px solid beige;
  border-radius: 20px;
  font-size: 10px;
  background: #ffffff;
  color: #02060CBF;
  text-align: center;
  padding: 5px;
}